<header>
    {{#if user}}
    <div>
        <p>Hi, {{user}}</p>
        <input type="button" value="Log out" onclick="location.href='/logout';">
    </div>
    {{else}}
    <input type="button" value="Sign Up" onclick="location.href='/signup';"> {{/if}}
    <h1>{{pageTitle}}</h1>
    <p>
        <a href="/home">Home</a>
    </p>
    <p>
        <a href="/users">Users</a>
    </p>
    <p>
        <a href="/">Index</a>
    </p>
</header>