<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>

    {{#if message}}
    <div id="messages">
        {{message}}
    </div>
    {{/if}} {{> header}}
    <form method="POST">
        <div class="col-xs-4">
            title:
        </div>
        <div class="col-xs-4">
            <input name="title" type="text" required value="{{title}}"></input>
        </div>
        <div class="col-xs-4">
            Content:
        </div>
        <div class="col-xs-4">
            <textarea name="content" id="" cols="50" rows="10" required value>{{content}}</textarea>
        </div>

        <input type="submit"></input>

    </form>
</body>
{{> footer}}

</html>