<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <div>
        {{#if message}} {{message}} {{/if}} {{#each users}}
        <div class="col-md-12">
            <h2>{{username}}</h2>
            <p>{{email}}</p>
        </div>
        {{/each}}
    </div>
    <hr>
</body>
{{> footer}}

</html>